//Layout Adjustments

.listing {
    
    section#hero {
        padding-top: 55px;
    }
}
.mobile-heading {
    
    @media (max-width: $small) {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
.search-box {
    position:absolute;
    bottom:50px;
    z-index:100;
    right: 0;
    left: 0;
}
