//Variables

$heading: 'Stint Ultra Expanded', cursive;
$body-copy: 'Roboto', sans-serif;

$background-color: #666;
$global-transition: all .25s ease-in;
$scale: scale(1.05);
$global-shadow: 1px 1px 10px rgba(0,0,0,.1);

$red: rgb(105,20,14);
$green: rgb(58,125,68);
$tan: rgb(241,236,206);

//Breakpoints

$xsmall: 300px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;