@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900|Stint+Ultra+Expanded&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.display-4 {
  font-family: "Stint Ultra Expanded", cursive;
  font-size: 3em; }
  @media (max-width: 768px) {
    .display-4 {
      font-size: 2rem; } }

h3.card-title {
  font-weight: 600;
  font-size: 2.5em; }

.listing section#hero {
  padding-top: 55px; }

@media (max-width: 576px) {
  .mobile-heading {
    padding-left: 5vw;
    padding-right: 5vw; } }

.search-box {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  right: 0;
  left: 0; }

.nav-link {
  cursor: pointer; }

.btn-secondary {
  background-color: #557A52;
  border: none; }
  .btn-secondary:hover {
    background-color: #354c33; }

@media (max-width: 992px) {
  .navbar {
    justify-content: flex-end; } }

.navbar-brand {
  transition: all 0.25s ease-in;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fff;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  top: 15px;
  left: 25px; }
  .navbar-brand:hover {
    transform: scale(1.05); }
  @media (max-width: 400px) {
    .navbar-brand:hover {
      transform: scale(0.95); } }
  .navbar-brand img {
    margin-top: 2px;
    width: 60%; }

.navbar-dark .navbar-toggler {
  border: none; }

.navbar-toggler {
  font-size: 1.5rem; }

.navbar-collapse {
  text-align: center; }

li a.login.ml-3 {
  margin-left: 0 !important; }

.home #hero {
  background-image: url(../img/cbm-landing-bkg-80.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.jumbotron {
  padding-top: 3rem;
  height: 95vh;
  background-color: transparent !important; }

.bg-dark {
  background-color: #69140e !important; }

.bg-light {
  background-color: #fcfbf6 !important; }

.card {
  transition: all 0.25s ease-in;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
  .card:hover {
    transform: scale(1.05); }
  @media (max-width: 400px) {
    .card:hover {
      transform: scale(0.95); } }

.cta-callout {
  background-image: url(../img/cbm-grad-topo-bkg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .cta-callout .btn {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

.modal-content {
  border: none; }
  .modal-content .modal-header {
    background-color: #557A52; }

.home #hero .form-control {
  border: none; }
  @media (max-width: 400px) {
    .home #hero .form-control small {
      font-size: 12px; } }

#detailedListing {
  height: 90%; }
